:root {
  --nav-height: 9vh;
  --nav-overlay-width: 40%;
  --primary-color: #9fc164;
  --secondary-color: #6b93d6;
  --bg-1: #c5daa2;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
section {
  position: relative;
}


.home-title {
  font-weight: bold;
  font-size: 55px;
  line-height: 77px;
  margin-bottom: 30px;
  color: var(--secondary-color);
  text-shadow: 0px 0px 4px #000000;
}
.home-desc {
  font-size: 20px;
  color: #dddddd;
}

.section-title {
  text-align: center;
  padding-bottom: 10px;
}
.section-title h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: rgb(165, 165, 165);
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #5cb874;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title-secondary {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 30px;
}
.section-title-secondary h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title-secondary h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: rgb(54, 54, 54);
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title-secondary h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--secondary-color);
  bottom: 0;
  left: calc(50% - 20px);
}
p {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f0f4fb;
}

.btn-secondary {
  background-color: var(--secondary-color);
}
.btn-secondary:hover {
  background-color: var(--primary-color);
}

/* Navbar */

nav {
  position: fixed;
  z-index: 100;
  height: var(--nav-height);
  width: 100vw;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand img {
  position: relative;
  left: 0;
  height: 8vh;
  width: 11.5vw;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu a {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}
.menu a:hover {
  color: #5cb881;
}
.hamburger {
  display: none;
}

/* Home */
#home {
  padding-top: 9vh;
  height: 100vh;
  width: 100%;
  color: white;
}
#home .home-container {
  height: 100%;
  width: 100%;
  padding: 0 10%;
  background-image: linear-gradient(
      rgb(52, 101, 70, 0.7),
      rgb(52, 101, 70, 0.7)
    ),
    url("../content/slide/Frame2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.carousel-img {
  height: 100%;
  width: 100%;
}

/* About */
#about {
  padding: 2%;
  text-align: center;
}
#about img {
  margin: 10px;
}
.about-text {
  text-align: left;
  font-size: 19px;
  line-height: 32px;
}

.about-motto {
  font-weight: 600;
  color: #12a712;
}
.abt-img-wrapper {
  transition: all 0.35s;
}
.abt-img-wrapper:hover {
  transform: scale(1.4);
}
.about-img-wrapper-vertical {
  max-width: 35%;
}
.owl-carousel .owl-stage {
  overflow: visible;
  display: flex;
  align-items: center;
}
.owl-next,
.owl-prev {
  background-color: var(--secondary-color) !important;
}
.owl-next:hover,
.owl-prev:hover {
  background-color: var(--primary-color) !important;
}

/* Problem Statement */
#problem-statement {
  position: relative;
  padding: 3% 2%;
  text-align: center;
  background-color: #f9f9f9;
}
#problem-statement img {
  margin: 15px;
}
.about-text {
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
  color: #333;
}
.about-text p {
  margin-bottom: 20px;
}
.section-title-secondary {
  margin-bottom: 40px;
}
.section-title-secondary h1 {
  font-size: 36px;
  color: #333;
  text-transform: uppercase;
}
.wave-top, .wave-bottom {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.wave-top svg, .wave-bottom svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 120px;
}
.wave-top .shape-fill {
  fill: #f9f9f9;
}
.wave-bottom .shape-fill {
  fill: #f9f9f9;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paper-horizontal {
  width: 100%;
  height: auto;
}
.paper-vertical {
  width: auto;
  height: 100%;
}
.owl-next,
.owl-prev {
  background-color: var(--secondary-color) !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-next:hover,
.owl-prev:hover {
  background-color: var(--primary-color) !important;
}



/* Achievements */

#achievements {
  text-align: center;
  padding: 40px 2% 1px;
  background-color: var(--bg-1);
}
.numerical-data {
  margin: 0 3%;
}
.numerical-data h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #4f7fd1;
  /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); */
}
.numerical-data p {
  font-size: 18px;
}
.swiper {
  width: 80%;
}
.paper-horizontal {
  width: 75%;
}
.paper-vertical {
  width: 40%;
}

/* What-we-do */
#services {
  height: auto;
  margin-bottom: 50px;
  padding: 40px 0;
}
#services .box {
  padding: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  height: 100%;
}
#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}
#services .box .icon {
  float: left;
}
#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}
#services .box .icon i:before {
  background: #0c2e8a;
  /* background: linear-gradient(45deg, #50d8af 0%, #a3ebd5 100%); */
  background: linear-gradient(
    45deg,
    var(--primary-color) 0%,
    var(--primary-color) 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}
#services .box h4 a {
  color: #444;
}

#services .description {
  font-size: 19px;
  line-height: 32px;
}
#services .box p {
  font-size: 19px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 26px;
}
@media (max-width: 767px) {
  #services .box .box {
    margin-bottom: 20px;
  }
  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #services .box h4,
  #services .box p {
    margin-left: 0;
    text-align: center;
  }
}

/* SOLUTIONS */

#solutions {
  padding-top: 40px;
  padding-bottom: 100px;
  text-align: center;
  background-color: var(--bg-1);
}

.solutions-info {
  color: #212529;
}

#solutions .row h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

.button--link {
  letter-spacing: 1px;
  font-family: lato, Geneva, Tahoma, sans-serif;
  color: #233f96;
  align-self: flex-start;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 20px;
}

.solutions-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
}

/* Swiper customization */

.swiper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

.swiper-slide img {
  display: block;
  width: 90%; /* Increased width for better utilization */
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
}

.swiper-button-next,
.swiper-button-prev {
  color: #233f96;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-pagination {
  bottom: 10px;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .swiper-slide img {
    width: 100%; /* Adjust for smaller screens */
  }
}

@media (max-width: 576px) {
  #solutions {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #solutions .row h3 {
    font-size: 18px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none; /* Hide navigation buttons on very small screens */
  }

  .swiper-slide img {
    width: 100%;
  }
}



/* Teams  */
#team {
  padding-top: 40px;
  padding-bottom: 40px;
}



.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
  padding: 30px 20px;
  background: #fff;
}
.team .member img {
  max-width: 50%;
  border-radius: 50%;
  margin: 0 0 30px 0;
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 200px;
}
.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}
.team .member span {
  font-style: italic;
  display: block;
  font-size: 16px;
}
.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}
.team .member .social {
  margin-top: 15px;
}
.team .member .social a {
  color: #919191;
  transition: 0.3s;
}
.team .member .social a:hover {
  color: #5cb874;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.social-links a {
  margin: 10px;
}

/* Collaborations and Partnerships */
#collaborations {
  position: relative;
  padding: 50px 0;
  margin-top: 100px;
}

#collaborations .wave {
  position: absolute;
  top: -120px;
  left: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  line-height: 0;
}

#collaborations .wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

#collaborations .wave .shape-fill {
  fill: #f9f9f9;
}

#collaborations .section-title {
  text-align: center;
  margin-bottom: 50px;
}

#collaborations .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#collaborations .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#collaborations .collab-item {
  margin: 20px;
  text-align: center;
  height: 500px;
}

#collaborations .card {
  min-height: 320px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#collaborations .card-body h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}
#collaborations .card-body p {
  font-size: 19px;
}

#collaborations .collab-logo {
  max-width: 100px;
  height: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
  #collaborations .collab-item {
      width: 100%;
      margin: 10px 0;
  }

  #collaborations .collab-logo {
      max-width: 80px;
  }
}



/* FAQ Section */

#faq {
  padding-top: 40px;
  padding-bottom: 100px;
  text-align: center;
  background-color: var(--bg-1);
}

#faq .section-title-secondary {
  margin-bottom: 40px;
}

#faq .accordion-button {
  background-color: #fff;
  color: #212529;
  font-weight: bold;
  text-align: left;
  padding: 1.25rem 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  box-shadow: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-size: 19px; /* Updated font size */
}

#faq .accordion-button:hover {
  background-color: #f8f9fa;
}

#faq .accordion-button:focus {
  box-shadow: none;
}

#faq .accordion-button:not(.collapsed) {
  color: #fff; /* Changed text color when expanded */
  background-color: #233f96; /* Changed background color when expanded */
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

#faq .accordion-body {
  padding: 1.25rem 1.5rem; /* Increased padding */
  border-top: 1px solid #e5e5e5;
  color: #212529;
  text-align: left;
  font-size: 19px; /* Updated font size */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  #faq .section-title-secondary {
    margin-bottom: 30px;
  }

  #faq .accordion-button {
    font-size: 19px; /* Adjusted font size for smaller screens */
    padding: 1rem 1.25rem; /* Adjusted padding for smaller screens */
  }

  #faq .accordion-body {
    font-size: 17px; /* Adjusted font size for smaller screens */
    padding: 1rem 1.25rem; /* Adjusted padding for smaller screens */
  }
}






/* Footer */
#rollUp {
  height: 0;
  opacity: 0;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  margin: 15px;
  transition: all 0.35s ease-in;
}
#rollUp.scroll {
  opacity: 1;
  background-color: var(--secondary-color);
  height: 6vh;
  width: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-sevatech-logo {
  width: 180px;
}
#contact{
  background-color: #ffffff;
}

/* Footer styles */
#contact .mapouter {
  position: relative;
  text-align: right;
  height: 410px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#contact .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 410px;
  width: 100%;
}

/* Other styles */
#contact .container {
  padding: 0 15px;
}

#contact .row {
  margin-bottom: 15px;
}

#contact .social-links a {
  margin: 0 10px;
}

#contact .social-links a i {
  font-size: 1.5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  #contact .mapouter {
    height: 300px;
  }

  #contact .gmap_canvas {
    height: 300px;
  }

  #contact .container {
    padding: 0;
  }
}

/* Media */

@media only screen and (max-width: 767px) {
  /* Navbar */
  body {
    overflow-x: hidden;
  }
  .brand img {
    width: 50vw;
  }
  .menu {
    color: white;
    position: absolute;
    right: 0;
    height: 91vh;
    top: var(--nav-height);
    width: var(--nav-overlay-width);
    background-color: rgb(107, 147, 214, 1);
    flex-direction: column;
    justify-content: left;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .menu a {
    padding-top: 5vh;
  }
  .menu-active {
    transform: translateX(0%);
  }
  .hamburger {
    display: flex;
    align-items: center;
  }
  .fa-nav {
    position: absolute;
    display: none;
  }
  .fa-active {
    display: block;
    color: black;
  }

  /* home */
  .home-title {
    font-size: 40px;
    line-height: 50px;
  }

  .numerical-data h2 {
    font-size: 1.7rem;
  }
}

/* Curves */
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 76px;
}

.wave .shape-fill {
  fill: #c5daa2;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .wave svg {
    width: calc(140% + 1.3px);
    height: 42px;
  }
}

.wave-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-2 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 76px;
  transform: rotateY(180deg);
}

.wave-2 .shape-fill {
  fill: #f0f4fb;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .wave-2 svg {
    width: calc(140% + 1.3px);
    height: 42px;
  }
}
