        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="400" height="410" id="gmap_canvas" src="https://maps.google.com/maps?q=Juja,%20Kenya&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><iframe>

          </div>
        </div>